In [ ]:
ALTER TABLE role_grope ADD id INT NOT NULL IDENTITY(1,1) PRIMARY KEY;

In [13]:
-- Generera 100 nya rader för grade tabellen med slumpmässiga datum och betyg
INSERT INTO grade (level, student_id, employee_id, subject_id, created_at, updated_at) 
VALUES
('A', 1, 1, 1, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('B', 2, 1, 1, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('C', 3, 2, 1, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('D', 4, 2, 1, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('F', 5, 3, 1, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),

('A', 1, 1, 2, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('B', 2, 2, 2, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('C', 3, 3, 2, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('D', 4, 4, 2, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('F', 5, 5, 2, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),

('A', 1, 1, 3, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('B', 2, 2, 3, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('C', 3, 3, 3, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('D', 4, 4, 3, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('F', 5, 5, 3, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),

('A', 1, 1, 4, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('B', 2, 2, 4, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('C', 3, 3, 4, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('D', 4, 4, 4, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('F', 5, 5, 4, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),

('A', 1, 1, 1, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('B', 2, 1, 1, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('C', 3, 2, 1, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('D', 4, 2, 1, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('F', 5, 3, 1, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),

('A', 1, 1, 2, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('B', 2, 2, 2, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('C', 3, 3, 2, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('D', 4, 4, 2, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('F', 5, 5, 2, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),

('A', 1, 1, 3, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('B', 2, 2, 3, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('C', 3, 3, 3, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('D', 4, 4, 3, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('F', 5, 5, 3, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),

('A', 1, 1, 4, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('B', 2, 2, 4, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('C', 3, 3, 4, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('D', 4, 4, 4, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('F', 5, 5, 4, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),

('C', 1, 1, 1, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('A', 2, 2, 1, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('B', 3, 3, 1, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('F', 4, 4, 1, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('D', 5, 5, 1, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),

('D', 1, 1, 2, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('C', 2, 2, 2, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('B', 3, 3, 2, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('A', 4, 4, 2, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('F', 5, 5, 2, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),

('C', 1, 1, 3, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('B', 2, 2, 3, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('A', 3, 3, 3, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('F', 4, 4, 3, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('D', 5, 5, 3, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),

('B', 1, 1, 4, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('C', 2, 2, 4, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('A', 3, 3, 4, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('D', 4, 4, 4, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE()),
('F', 5, 5, 4, DATEADD(DAY, -FLOOR(RAND() * 1826), GETDATE()), GETDATE());

## Hämta personal
Databasadministratören får välja om denna vill se alla anställda, eller bara inom en av kategorierna så som ex lärare. (Skriv t.ex. två queries eller lös det på annat vis med hjälp av stored procedure)

In [2]:
CREATE PROCEDURE SelectAllEmployees
    @EmployeeRole nvarchar(50)
AS
BEGIN
    IF @EmployeeRole != ''
    BEGIN
        SELECT role.name as 'role name', employee.first_name, employee.last_name
        FROM role_grope
            JOIN role ON role_grope.role_id = role.id
            JOIN employee ON role_grope.employee_id = employee.id
        WHERE role.name = @EmployeeRole;
    END
    ELSE
    BEGIN
        SELECT role.name as 'role name', employee.first_name, employee.last_name
        FROM role_grope
            JOIN role ON role_grope.role_id = role.id
            JOIN employee ON role_grope.employee_id = employee.id
    END
END;

: Msg 2714, Level 16, State 3, Procedure SelectAllEmployees, Line 1
There is already an object named 'SelectAllEmployees' in the database.

In [4]:
EXEC SelectAllEmployees @EmployeeRole = 'Lärare';

role name,first_name,last_name
Lärare,Anna,Svensson
Lärare,Erik,Johansson

## Hämta alla betyg som satts den senaste månaden
Här får användaren se en lista med alla betyg som satts senaste månaden där elevens namn, ämnet och betyget framgår.

In [8]:
SELECT grade.[level], subject.name, student.first_name, student.last_name, grade.created_at
FROM grade
    JOIN student ON grade.student_id = student.id
    JOIN subject ON grade.subject_id = subject.id
WHERE grade.created_at >= DATEADD(MONTH, -1, GETDATE())
ORDER BY student.first_name, student.last_name, grade.created_at, grade.[level];

In [ ]:
UPDATE grade SET created_at = '2025-01-01' WHERE id = 1;

## Hämta en lista med alla ämnen och det snittbetyg som eleverna fått i det ämnet samt det högsta och lägsta betyget som någon fått i kursen.
Här får användaren se en lista med alla ämnen i databasen, snittbetyget samt det högsta och lägsta betyget för varje ämne.

Tips: För att få ut ett medelvärde för betyg med bokstäver kan du behöva omvandla värdena till siffror.

In [8]:
SELECT
    subject.name,
    AVG(
        CASE 
            WHEN [level] = 'A' THEN 6
            WHEN [level] = 'B' THEN 5
            WHEN [level] = 'C' THEN 4
            WHEN [level] = 'D' THEN 3
            WHEN [level] = 'E' THEN 2
            WHEN [level] = 'F' THEN 1
            ELSE NULL
        END
    ) AS avg_level,
    MIN(
        CASE 
            WHEN [level] = 'A' THEN 6
            WHEN [level] = 'B' THEN 5
            WHEN [level] = 'C' THEN 4
            WHEN [level] = 'D' THEN 3
            WHEN [level] = 'E' THEN 2
            WHEN [level] = 'F' THEN 1
            ELSE NULL
        END
    ) AS min_level,
    MAX(
        CASE 
            WHEN [level] = 'A' THEN 6
            WHEN [level] = 'B' THEN 5
            WHEN [level] = 'C' THEN 4
            WHEN [level] = 'D' THEN 3
            WHEN [level] = 'E' THEN 2
            WHEN [level] = 'F' THEN 1
            ELSE NULL
        END
    ) AS max_level,
    FORMAT(MIN(grade.created_at), 'd') as first_grade,
    FORMAT(MAX(grade.created_at), 'd') as last_grade 
FROM grade
    JOIN subject ON grade.subject_id = subject.id
WHERE created_at BETWEEN '2023-08-01' AND '2025-06-15'
GROUP BY subject.name;

name,avg_level,min_level,max_level,first_grade,last_grade
Biologi,3,1,6,10/24/2023,12/3/2024
Engelska,5,5,5,9/2/2024,9/2/2024
Matematik,3,1,6,2/2/2024,1/17/2025
Svenska,4,1,6,8/18/2023,1/1/2025

In [7]:
use SkolaJosef;

SELECT subject.name, grade.[level], subject.id FROM grade
JOIN subject ON grade.subject_id = subject.id
WHERE subject.id = 4;

name,level,id
Biologi,B,4
Biologi,A,4
Biologi,B,4
Biologi,C,4
Biologi,D,4
Biologi,F,4
Biologi,A,4
Biologi,B,4
Biologi,C,4
Biologi,D,4
Biologi,F,4
Biologi,B,4
Biologi,C,4
Biologi,A,4
Biologi,D,4
Biologi,F,4

## Lägga till nya elever.
Användaren får möjlighet att mata in uppgifter om en ny elev och den datan sparas då ner i databasen.

In [54]:
CREATE PROCEDURE insertNewStudent
    @first_name VARCHAR(50),
    @last_name VARCHAR(50),
    @personal_code_number VARCHAR(11),
    @class_id INT
AS
BEGIN
    INSERT INTO student
        (first_name, last_name, personal_code_number, class_id)
    VALUES
        (@first_name, @last_name, @personal_code_number, @class_id);
END;

In [56]:
EXEC insertNewStudent 'John', 'Doe', '19990621-7745', 1

In [58]:
UPDATE student SET personal_code_number = '19990621-7745' WHERE id = 6;